.top{
    position: relative;
    margin-left: 500px;
    margin-top: 200px;
    font-size: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.next{
    position: relative;
    margin-top: 100px;
    margin-left: 135px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;

}
*{
    margin: 0;
    padding: 0;
  }
  body{
        /* background-image: url("C:/Users/Faraaz Usmani/Desktop/Python/Coursera/spacex.jpg");
        -webkit-background-size: cover; */
        background-size: cover;
        background-position: center center;
        height: 100vh;
        background-color: #000000;
  }
  .wrapper{
    width: 860px;
    margin-left: auto;
    position: relative;
    margin-right: -35rem;
    z-index: 1;

  }
  .wrapper ul{
    list-style: none;
    margin-top: 2%;
  }
  .wrapper ul li{
    background: #1b1a1a;
    width: 170px;
    border: 1px solid #000000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float:left;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-family: 'Raleway', sans-serif;
  }
  .wrapper ul li:hover{
    background: crimson;
  }
  .wrapper ul ul{
    display: none;
  }
  .wrapper ul li:hover > ul{
    display: block;
  }
  .wrapper ul ul ul{
    margin-left: 170px;
    top: 0;
    position: absolute;
  }


  .jumbotron{
    background-color: #000;
  }

  .teamcard {
    padding: 20px ;
    background-color: #CF073F ;
    margin:10px 30px;
    color: #000;
  }



.head{
  font-weight: 900;
  text-align: center;

}
.btn:hover {
  background-color: #222224 !important;
  color: #fff !important;
}

.button{
  text-align: right;
  padding-top: 15px;
}

.btn {
  background-color: #000;
  color: #fff;
  font-weight: 900;
  padding: 5px 50px;
}
